html, body {
    margin: 0;
    height: 100%;
}
.sector1 {
float: left;
width: 100%;
}

.Header {
background: url(../images/main-us2.jpg) no-repeat;
float: left;
width: 100%;
position: relative;
background-attachment: fixed;
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
text-align: center;
margin: 0;
}

.MA_textinfo {
  float: left;
  width: 50%;
  padding: 200px 0px 200px 200px;
  text-align: center;
  height: 100%;
}

.MA_textinfo img {
  display: inline-block;
  animation-duration: 2s;
  animation-delay: 300ms;
  animation-iteration-count: infinite;
  animation-name: pulse;
  
}
@media (max-width: 767px) {
.MA_textinfo {
     /* width: 70%; */
    padding: 50px 0px 50px 0px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
.MA_textinfo {
    padding: 100px 0px 100px 0px;
  }
}
@keyframes pulse {
	0% {
		transform: scale(0.95);
		/* box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7); */
	}

	70% {
		transform: scale(1);
		/* box-shadow: 0 0 0 10px rgba(0, 0, 0, 0); */
	}

	100% {
		transform: scale(0.95);
		/* box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); */
	}
}
#snow {
	background: none;
	font-family: Androgyne;
	background-image: url(../images/s1.png), url(../images/s2.png), url(../images/s3.png);
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index:1;
	-webkit-animation: snow 10s linear infinite;
	-moz-animation: snow 10s linear infinite;
	-ms-animation: snow 10s linear infinite;
	animation: snow 10s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
