html, body {
    margin: 0;
    height: 100%;
}
.sector1 {
float: left;
width: 100%;
height: calc(100% - 30px);
min-height: 566px;
max-height: 1040px;
}

.Header {
    float: left;
     width: 100%;
    background: url(../images/main-us4.jpg);
    position: relative;
    background-attachment: scroll;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    height: calc(100% - 30px);
    min-height: 566px;
    max-height: 1040px; 


    
}



.wd_heading {
  float: left;
  width: 100%;
  margin-bottom: 60px;
  text-align: center;
  text-transform: uppercase;
}
.wd_header_wrapper {
  width: 90%;
  display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.70);
  z-index: 1;
  position: relative;
  margin-top: 60px;
  margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  box-shadow: 0px 0px 40px -20px #000000;
}
.menu_fixed.wd_header_wrapper {
  width: 100%;
  float: left;
  display: flex;
  margin-top: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.menu_fixed {
  position: fixed;
  z-index: 1000;
  padding: 0px 0px;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  -o-box-shadow: 0px 0px 25px -10px;
  -ms-box-shadow: 0px 0px 25px -10px;
  -moz-box-shadow: 0px 0px 25px -10px;
  -webkit-box-shadow: 0px 0px 25px -10px;
  box-shadow: 0px 0px 25px -10px;
}
.MA_textinfo {
   position: relative; 
  float: left;
  width: 50%;
  padding: 200px 0px 200px 200px;
  /* padding: 34px  0px 50px 178px; */
  text-align: center;
   height: calc(100% - 166px); 
  /* height: -webkit-fill-available; */
  

}

.MA_textinfo img {
   display: inline-block; 
  animation-duration: 2s;
  animation-delay: 300ms;
  animation-iteration-count: infinite;
  animation-name: pulse;
  /* min-height: 259px; */
   max-height:100%;
  max-width:100%; 
}

#headbottom {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0px auto;
  bottom: 12px;
  cursor: pointer;
  width: 80px;
  height: 80px;
  text-align: center;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background-color: #6b6ee9;
  z-index: 1;

} 
 .whiteBorder {
  content:"";
  position: absolute; 
  right: 0;
  left: 0;
  margin: 0px auto;
  bottom: -50px;
  cursor: pointer;
  width: 100px;
  height: 100px;
  text-align: center;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background-color: #ffffff;
} 
.headbottom{
  animation: animate 2s linear infinite;
}
@keyframes animate {
  0% {
      box-shadow: 0 0 0 0 rgba(107, 110, 233, 0.7), 0 0 0 0 rgba(107, 110, 233, 0.7);
  }
  40% {
      box-shadow: 0 0 0 50px rgba(107, 110, 233, 0), 0 0 0 0 rgba(107, 110, 233, 0.7);
  }
  80% {
      box-shadow: 0 0 0 50px rgba(107, 110, 233, 0), 0 0 0 30px rgba(107, 110, 233, 0);
  }
  100% {
      box-shadow: 0 0 0 0 rgba(107, 110, 233, 0), 0 0 0 30px rgba(107, 110, 233, 0);
  }
}

#headbottom i {
  position: absolute;
  left: 0;
  right: 0;
  line-height: 80px;
  color: #ffffff;
  font-size: 40px;
  
}
@-webkit-keyframes pulse {
  0% {
     transform:scale(.9);
  }
  70% {
     transform:scale(1);
    box-shadow: 0 0 0 50px rgba(#5a99d4, 0);
  }
    100% {
     transform:scale(.9);
    box-shadow: 0 0 0 0 rgba(#5a99d4, 0);
  }
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-long-arrow-down:before {
  content: "\f175";
}

 .img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: 100%;
} 

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.infoBox_img {
  float: left;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  position: relative;
  z-index: 0;
  overflow: hidden;
  padding-top: 16px;
  padding-bottom: 16px;
}
.infoBox_img:before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  right: -80px;
  margin: 0px auto;
  background-color: #6b6ee9;
  height: 168px;
  -webkit-border-radius: 0px 0px 150px 150px;
  -moz-border-radius: 0px 0px 150px 150px;
  border-radius: 0px 0px 150px 150px;
  width: 285px;
  z-index: -1;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  bottom: 17px;
}
.infoBox_img:after {
  content: "";
  position: absolute;
  top: 17px;
  left: -80px;
  right: 0px;
  margin: 0px auto;
  background-color: #6b6ee9;
  height: 168px;
  -webkit-border-radius: 150px 150px 0px 0px;
  -moz-border-radius: 150px 150px 0px 0px;
  border-radius: 150px 150px 0px 0px;
  width: 285px;
  z-index: -1;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* TopManu */
.wd_mainmenu_wrapper {
  float: left;
  width: 100%;
}
.wd_main_menu {
  float: left;
  width: 100%;
}


  .wd_main_menu ul li{
    list-style: none;
    float: left;
    width: auto;
}
.wd_main_menu ul li a{
    float: left;
    padding: 30px 16px;
    margin: 0px;
    color: #111111;
    font-size: 18px;
    text-decoration:none;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.menu_fixed .wd_main_menu ul li a {
  padding: 30px 16px;
}
.wd_main_menu ul {
  float: right;
  width: auto;
  margin: 0px;
  padding: 0px;
}
.wd_single_index_menu_down li{
  list-style:none;
  
}
.wd_main_menu ul li a:hover, .wd_main_menu ul li.active a{
	color: #6b6ee9;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.menu_fixed .wd_logo {
  padding-top: 10px;
}
.wd_logo{
  float: left;
  width: 100%;
  padding-top: 15px;
}
.wd_logo img {
  display: inline-block;
}
.wd_menu_btn {
  display: none;
}


.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
  content: "\f0c9";
}
.fa-remove:before, .fa-close:before, .fa-times:before {
  content: "\f00d";
}
.wd_heading h1 {
  float: left;
  width: 100%;
  margin: 10px 0px;
  font-size: 40px;
  font-family: 'Lora', serif;
  line-height: 1.1;
  font-weight: 400;
  color: #222222;
}
.wd_story_wrapper .wd_heading h1 {
  color: #ffffff;
}


/* @media (max-width: 1310px) and (min-width: 768px){
.wd_logo {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}
}

  @media (min-width: 768px) and (max-width: 1310px) {
    .wd_main_menu ul {
        width: 100%;
        text-align: center;
    }
    .wd_main_menu ul li {
        float: none;
        display: inline-block;
    }
    .wd_main_menu ul li a {
        padding: 30px 10px;
        font-size: 16px;
    }
 
  } */
@keyframes fadeInDown {
0% {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}
}
@keyframes pulse {
	0% {
		transform: scale(0.95);
		/* box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7); */
	}

	70% {
		transform: scale(1);
		/* box-shadow: 0 0 0 10px rgba(0, 0, 0, 0); */
	}

	100% {
		transform: scale(0.95);
		/* box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); */
	}
}
#snow {
	background: none;
	font-family: Androgyne;
	background-image: url(../images/s1.png), url(../images/s2.png), url(../images/s3.png);
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index:1;
	-webkit-animation: snow 10s linear infinite;
	-moz-animation: snow 10s linear infinite;
	-ms-animation: snow 10s linear infinite;
	animation: snow 10s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
  
.number{
  background: rgba(107, 110, 233, 0.8);
  padding: 0 5px;
  border-radius: 5px;
  display: inline-block;
  width: 60px;
  text-align: center;
}
.year, .day, .hour, .min, .sec {
  font-size: 30px;
  display: inline-block;
  font-weight: 500;
  text-align: center;
  margin: 0 5px; 
  color: white;  
}
.format {
  font-weight: 300;
  font-size: 14px;
  opacity: 1;
  width: 60px;
  color: white;
}

/* Sector 3  */
.wd_story_covers{
  float: left;
  width: 100%;
  position: relative;
}
.wd_story_line {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.1);
  width: 2px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: 0px auto;
  height: 100%;
}
/* --left time line */
.wd_story_covers_box_left {
  float: left;
  width: 510px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 50px 0px 50px 50px;
  -moz-border-radius: 50px 0px 50px 50px;
  border-radius: 50px 0px 50px 50px;
  position: relative;
  margin: 50px 0px 150px 0px;
}

.wd_story_dot {
  position: absolute;
  right: -60px;
  top: 30px;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
}

.wd_story_dot span {
  background-color: #6b6ee9;
  width: 15px;
  height: 15px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  margin: 0px auto;
}

.wd_story_covers_box_img {
  float: left;
  width: 220px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}

.wd_story_covers_box_img img {
  display: inline-block;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}

.wd_story_covers_box_datails {
  float: right;
  width: calc(100% - 220px);
  padding: 35px 30px 0px 35px;
  -webkit-border-radius: 0px 0px 50px 50px;
  -moz-border-radius: 0px 0px 50px 50px;
  border-radius: 0px 0px 50px 50px;
}

.wd_story_covers_box_datails span {
  float: left;
  width: 100%;
  font-size: 16px;
  color: #6b6ee9;
  text-transform: uppercase;
}

.wd_story_covers_box_datails h1 {
  float: left;
  width: 100%;
  font-size: 30px;
  color: #ffffff;
  text-transform: capitalize;
  margin: 12px 0px;
}

.wd_story_covers_box_datails span {
  float: left;
  width: 100%;
  font-size: 16px;
  color: #6b6ee9;
  text-transform: uppercase;
}

.wd_story_covers_box_datails p {
  float: left;
  width: 100%;
  color: #ffffff;
  margin-bottom: 0px;
  margin-top: 15px;
}

.wd_story_covers_box_left:after {
  content: "";
  position: absolute;
  right: -35px;
  top: 0px;
  width: 0;
  height: 0;
  border-top: 0px solid transparent;
  border-left: 35px solid rgba(255, 255, 255, 0.1);
  border-bottom: 25px solid transparent;
}

.wd_story_wrapper {
  float: left;
  width: 100%;
  background: url(../images/black-Background.jpg);
  background-size: cover;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
}

.wd_bottompadder90 {
  padding-bottom: 90px;
}

.wd_toppadder90 {
  padding-top: 90px;
}
/* --right time line */
.wd_story_covers_box_right .wd_story_dot{
	left:-60px;
  right:auto;
}
.wd_story_covers_box_right{
  float: right;
  width: 510px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 0px 50px 50px 50px;
  -moz-border-radius: 0px 50px 50px 50px;
  border-radius: 0px 50px 50px 50px;
  position: relative;
  margin: 150px 0px 50px 0px;
}
.wd_story_covers_box_right:after{
  content: "";
  position: absolute;
  left: -35px;
  top: 0px;
  width: 0;
  height: 0;
  border-top: 0px solid transparent;
  border-right: 35px solid rgba(255, 255, 255, 0.1);
  border-bottom: 25px solid transparent;
}
.wd_story_covers_box_right .wd_story_covers_box_img{
float:right;
}
.wd_story_covers_box_right .wd_story_covers_box_datails{
	float:left;
}
  

/*-- Responsive css Start --*/
@media (max-height:1040px) and (min-height:0px){
  .MA_textinfo {
    padding: 67px 0px 140px  0px;
  }
  }
@media (max-width: 1199px) and (min-width: 992px) and (min-height:1040px){
.MA_textinfo {
    padding: 150px 0px 150px 150px;
    height: calc(100% - 230px);
}
}
@media (max-width: 991px) and (min-width: 768px)  and (min-height:1040px) {
  .MA_textinfo {
    padding: 200px 0px 201px 0px;
    }
  }
  
  @media (max-width: 767px) {
    .MA_textinfo {
      width: 100%;
      padding: 77px 0px 121px 0px;                  
      }
    }
  
    @media (max-width: 479px){
      .MA_textinfo {
        width: 100%;
        padding: 77px 0px 121px 0px;
      }
      .year, .day, .hour, .min, .sec {
        font-size: 30px;
        display: inline-block;
        font-weight: 500;
        text-align: center;
        margin: 0 0px;
        color: white;
    }
    }
@media (max-width: 1200px) {}
@media (min-width: 992px) and (max-width: 1199px) {

  .wd_logo {
      padding-top: 39px;
  }
  .wd_main_menu ul li a {
      padding: 50px 8px;
  }
  .menu_fixed .wd_main_menu ul li a {
      padding: 30px 8px;
  }
  .wd_header_wrapper .wd_btn {
      padding-left: 30px;
  }
  .menu_fixed .wd_logo {
      padding-top: 24px;
  }
  .wd_guest_infobox {
      padding: 30px 0px 30px 0px;
  }
  .wd_guest_form {
      padding: 45px 30px;
  }
  .wd_footer_infobox p {
      padding: 0px 20px;
  }
  .wd_family_tabbox ul.nav:after {
      width: 90%;
  }
  .wd_family_tabbox .tab-content:after {
      width: 90%;
  }
  /* .wd_slider_textinfo {
      padding: 150px 0px 150px 150px;
  } */
  /* .wd_about_infobox_date {
      padding: 65px 20px;
  }
  .wd_story_covers_box_left {
      width: 410px;
  }
  .wd_story_covers_box_img {
      width: 100%;
  }
  .wd_story_covers_box_img img {
      width: 100%;
  }
  .wd_story_covers_box_datails {
      width: 100%;
      padding: 35px;
  } */

  .col-lg-9 {
    -ms-flex: 0 0 100%!important;
    flex: 0 0 100%!important;
    max-width: 100%!important;
}
.col-lg-3 {
  -ms-flex: 0 0  100%!important;
  flex: 0 0  100%!important;
  max-width:  100%!important;
}

.wd_story_dot {

  right: -70px;

}
  }



  @media (min-width: 768px) and (max-width: 1310px) {
    .wd_main_menu ul {
        width: 100%;
        text-align: center;
    }
    .wd_main_menu ul li {
        float: none;
        display: inline-block;
    }
    .wd_main_menu ul li a {
        padding: 30px 10px;
        font-size: 16px;
    }
    .wd_logo {
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
    }
    .wd_header_wrapper .wd_btn {
        margin-top: 0px;
        padding-left: 0px;
    }
    .menu_fixed .wd_main_menu ul li a {
        padding: 23px 10px;
    }
    }




    @media (min-width: 768px) and (max-width: 991px) {
    
      .wd_story_line {
          display: none;
      }
      .wd_story_dot {
          display: none;
      }
      .wd_story_covers_box_left:after{
        display:none;
      }
      .wd_story_covers_box_left {
          width: 100%;
          -webkit-border-radius: 50px;
          -moz-border-radius: 50px;
          border-radius: 50px;
          margin: 50px 0px 0px 0px;
      }
      .wd_story_covers_box_right:after{
        display:none;
      }
      .wd_story_covers_box_right {
          width: 100%;
          -webkit-border-radius: 50px;
          -moz-border-radius: 50px;
          border-radius: 50px;
          margin: 50px 0px 0px 0px;
      }
       
      }


    @media (max-width: 805px) {

      .wd_menu_btn{
          display: block;
          float: none;
          position: absolute;
          top: 35px;
          right: 15px;
          border: none;
          width: 40px;
          height: 30px;
          font-size: 16px;
          color: #ffffff;
          border-radius: 3px;
        background-color: #6b6ee9;
      }
      .wd_menu_btn:hover, .wd_menu_btn:focus{
        outline:none;
        border:none;
        box-shadow:none;
        text-shadow:none;
      }
      .wd_main_menu_wrapper{
        z-index: 3;
        position:fixed;
          left: 0px;
          top: 0px;
        bottom:0px;
        -webkit-transform: translateX(-100%);
          -moz-transform: translateX(-100%);
          -ms-transform: translateX(-100%);
          -o-transform: translateX(-100%);
          transform: translateX(-100%);
        -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -ms-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s;
        background-color: #6b6ee9;
      }
      .wd_main_menu_wrapper {
          width: 300px;
      }
      .wd_main_menu_wrapper.wd_main_menu_hide{
        -webkit-transform: translateX(0%);
          -moz-transform: translateX(0%);
          -ms-transform: translateX(0%);
          -o-transform: translateX(0%);
          transform: translateX(0%);
        -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -ms-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s;
        overflow: scroll;
      }
     .wd_main_menu ul {
          width: 100%;
      }
      .wd_main_menu ul li {
          width: 100%;
      }
      .wd_main_menu ul li a {
        width: 100%;
          text-align: left;
          margin: 0;
          border-radius: 0px;
          border: 0px;
        padding:15px;
        color:#ffffff;
      }
      .wd_main_menu ul li a:hover, .wd_main_menu ul li a.active {
          border: 0px;
        background-color:#ffffff;
        color:#6b6ee9;
      }
       .menu_fixed .wd_main_menu ul li a {
          padding: 15px;
      }
      .wd_header_wrapper .wd_btn {
          padding-left: 0px;
      }
      .wd_logo {
          padding: 20px 0px;
        text-align: left;
      }
      .wd_story_line {
          display: none;
      }
      .wd_story_dot {
          display: none;
      }
      .wd_story_covers_box_left:after{
        display:none;
      }
      .wd_story_covers_box_left {
          width: 100%;
          -webkit-border-radius: 50px;
          -moz-border-radius: 50px;
          border-radius: 50px;
          margin: 50px 0px 0px 0px;
      }
      .wd_story_covers_box_right:after{
        display:none;
      }
      .wd_story_covers_box_right {
          width: 100%;
          -webkit-border-radius: 50px;
          -moz-border-radius: 50px;
          border-radius: 50px;
          margin: 50px 0px 0px 0px;
      }
      .wd_guest_formbox {
          width: 100%;
      }
      .wd_footer_infobox p {
          padding: 0px 0px;
      }
      .wd_footer_section {
          text-align: center;
      }
      .wd_footer_section img {
          float: none;
          display: inline-block;
          margin-top: 25px;
      }
      .wd_footer_section p {
          width: 100%;
          padding-top: 30px;
      }
      .wd_gallery_slide {
          margin-bottom: 16px;
      }
      .ast_glr_overlay {
          padding: 0px 20px 20px 20px;
      }
      .ast_glr_overlay p {
          font-size: 18px;
      }
      .wd_footer_bottom_wrapper{
          padding-left: 0px;
          padding-right: 0px;
      }
      .wd_main_menu ul li a:hover, .wd_main_menu ul li.active a{
          background:#ffffff;
        }
       
      }




      @media (max-width: 479px) {
         /* .wd_slider_textinfo {
            width: 100%;
        }
        .wd_about_infobox_date {
            padding: 15px 0pwd_about_infobox_datex;
        }
        .wd_about_infobox_date p {
            padding: 0px 0px;
        }  */
        .wd_story_covers_box_img {
            width: 100%;
        }
        .wd_story_covers_box_img img {
            width: 100%;
        }
        .wd_story_covers_box_datails {
            width: 100%;
            padding: 25px 15px 25px 15px;
        }
        /* .wd_event_infobox span {
            padding: 0px 0px;
        }
        .wd_event_infobox img {
            width: 100%;
        }
        .wd_guest_infobox h2 {
            line-height: 46px;
        }
        .wd_guest_formbox span {
            font-size: 22px;
        }
        .wd_guest_form {
            padding: 35px 15px;
        }
        .wd_heading h1 {
            font-size: 24px;
        }
        .wd_family_tabbox ul.nav:after {
            width: 90%;
        }
        .wd_family_tabbox .tab-content:after {
            width: 90%;
        }
        .wd_about_infobox_img:before {
            height: 120px;
            width: 235px;
        }
        .wd_about_infobox_img:after {
            height: 120px;
            width: 235px;
        }
        .wd_slider_textinfo h1 {
            font-size: 24px;
        }
        .ast_glr_overlay {
            padding: 0px 10px 20px 10px;
        }  */
        
        }


      @media (max-width: 380px){
        .wd_main_menu_wrapper {
            width: 190px;
        }

      }

      @media (min-width: 991px) and (max-width: 1199px){
        .wd_story_covers_box_right{width:410px;}
        .wd_story_covers_box_left {
          width: 410px;
      }
      }
      /*-- Responsive css End --*/